RewriteEngine on

# Nếu đường dẫn bắt đầu bằng 'admin/', thì bỏ qua rewrite
RewriteCond %{REQUEST_URI} !^/admin/

# Tiếp tục rewrite nếu không phải là file hoặc thư mục thật
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite các yêu cầu còn lại về index.php
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]