.container-order-success {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}

.container-order-success a {
    text-decoration: none;
    color: #333;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bole;
}

.container-order-success a:hover {
    color: #000;
    text-decoration: underline;
}

.container-order-success h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.3px;
}

.container-order-success p {
    font-size: 16px;
}

.container-order-success .info-order,
.container-order-success .info-user,
.container-order-success .info-product {
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.card {
    border-bottom: 1px solid #eee;
    padding: 10px 10px;
}

/* .card:last-child {
    border-bottom: none;
} */

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body .text-start,
.card-body .text-end {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.info-user p,
.info-order p {
    font-weight: bold;
    color: #333;
}

.info-user p span,
.info-order p span {
    font-weight: normal;
    color: #333;
}

